body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
  }

  .finder {
    display: flex;
    gap: 1px;
    border: 1px solid #ccc;
    background-color: #d4ffee;
    width: fit-content;
    height: 90vh;
    overflow-x: auto;
  }

  .column {
    width: 200px;
    background-color: linear-gradient(#ffffff,#cdf5fb);
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto; 
  }

  .column-header {
    padding: 6px 8px;
    font-size: 12px;
    color: #555;
    background: linear-gradient(#f9f9f9, #e5e5e5);
    border-bottom: 1px solid #ccc;
  }

  .item {
    padding: 6px 10px;
    cursor: pointer;
  }

  .item:hover {
    background-color: #95ddff;
  }

  .selected {
    background-color: #ffffff;
    color: #000000;
  }